<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.maranix.dao.ProductDAO">
  <select id="selectCategoryList" resultType="kr.green.maranix.vo.CategoryVO">
		select * from category
	</select>
	<insert id="insertCategory">
		insert into category(ca_name, ca_code) values(#{ca_name}, #{ca_code})
	</insert>
	<select id="selectProductList" resultType="kr.green.maranix.vo.ProductVO">
		select * from product 
		where (pr_title like concat('%',#{search},'%') or pr_code like concat('%',#{search},'%'))
			and pr_ca_name like concat('%',#{pr_ca_name},'%')
		order by pr_ca_name
		limit #{pageStart}, #{perPageNum}
	</select>
	<select id="selectProductTotalCount" resultType="int">
		select count(*) from product 
		where (pr_title like concat('%',#{search},'%') or pr_code like concat('%',#{search},'%'))
			and pr_ca_name like concat('%',#{pr_ca_name},'%')
	</select>
	<select id="selectCategoryByCa_code" resultType="kr.green.maranix.vo.CategoryVO">
		select * from category where ca_code = #{ca_code}
	</select>
	<insert id="insertProduct">
		insert into product(pr_code, pr_thumb, pr_title, pr_content, pr_price, pr_count, pr_ca_name)
		values(#{pr_code}, #{pr_thumb}, #{pr_title}, #{pr_content}, #{pr_price}, #{pr_count}, #{pr_ca_name})
	</insert>
	<update id="updateCategory">
		update category set ca_count = ca_count+1 where ca_name = #{ca_name}
	</update>
	<select id="selectProduct" resultType="kr.green.maranix.vo.ProductVO">
		select * from product where pr_code = #{pr_code}
	</select>
	<delete id="deleteProduct">
		delete from product where pr_code = #{pr_code}
	</delete>
	<update id="updateProduct">
		update product
			set
				pr_thumb = #{pr_thumb},
				pr_title = #{pr_title},
				pr_content = #{pr_content},
				pr_price = #{pr_price},
				pr_count = #{pr_count}
			where pr_code= #{pr_code}
	</update>
	<select id="selectLikes" resultType="kr.green.maranix.vo.LikesVO">
		select * from likes 
			where li_pr_code = #{pr_code} and li_me_id = #{me_id}
	</select>
	<select id="selectProductListByLikes" resultType="kr.green.maranix.vo.ProductVO">
		select * from product 
			join likes
				on pr_code = li_pr_code 
			where
				li_me_id = #{me_id}
	</select>
	<insert id="insertLikes">
		insert into likes(li_pr_code, li_me_id) values(#{li_pr_code},#{li_me_id})
	</insert>
	<delete id="deleteLikes">
		delete from likes where li_pr_code = #{li_pr_code} and li_me_id = #{li_me_id}
	</delete>
	<select id="selectCategoryPrList" resultType="kr.green.maranix.vo.CategoryVO">
		select a.ca_name, a.ca_code, a.ca_count, b.pr_ca_name, b.pr_code from category a
		join product b on a.ca_name = b.pr_ca_name; 
	</select>
	
	<select id="selectProductList2" resultType="kr.green.maranix.vo.ProductVO">
		select * from product 
		order by pr_ca_name
	</select>
	
	<select id="selectOptionList" resultType="kr.green.maranix.vo.ProductOptionVO">
		select a.po_num, a.po_pr_code, a.po_count, a.po_name,
					 b.pr_code, b.pr_title
		from productoption a 
		join product b on a.po_pr_code = b.pr_code
		order by po_num
	</select>		
	
	<select id="selectOption" resultType="kr.green.maranix.vo.ProductOptionVO">
		select * from productoption where po_num = #{po_num}
	</select>
	<delete id="deleteOption">
		delete from productoption where po_num = #{po_num}
	</delete>
	
	<insert id="insertOption">
		insert into productoption(po_num, po_pr_code, po_name, po_count)
		values(#{po_num}, #{po_pr_code}, #{po_name}, #{po_count})
	</insert>

	<select id="selectProductOption" resultType="kr.green.maranix.vo.ProductOptionVO">
		select a.po_num, a.po_pr_code, a.po_name, a.po_count, b.pr_code, b.pr_title
		from productoption a
		join product b on a.po_pr_code = b.pr_code 
			where 1=1
		<if test="po_num != null and po_num != ''">
			and a.po_num = #{po_num}
		</if>
	</select>
	<update id="updateOption">
		update productoption
			set
				po_pr_code = #{po_pr_code},
				po_name = #{po_name},
				po_count = #{po_count}
			where po_num= #{po_num}
	</update>

	<select id="selectProductCaList" resultType="kr.green.maranix.vo.ProductVO">
		select * from product 
		where 1=1
		and pr_title like concat('%',#{search},'%')
		<if test="pr_ca_name != null and !pr_ca_name.equals('')">
			and pr_ca_name = #{pr_ca_name}
		</if>
		order by pr_ca_name
		limit #{pageStart}, #{perPageNum}
	</select>

</mapper>